In [21]:
#For_loop Practise 
Bike = ["1.Pulsar", "2.Apache", "3.Duke", "4.Royal enfield", "5.Jupiter"]
print(Bike)

['1.Pulsar', '2.Apache', '3.Duke', '4.Royal enfield', '5.Jupiter']

In [22]:
for bikes in Bike:
    print(bikes)

1.Pulsar
2.Apache
3.Duke
4.Royal enfield
5.Jupiter

In [6]:
print(bikes(0))

TypeError: 'str' object is not callable

In [9]:
Bike = ["Pulsar", "Apache", "Duke", "Royal enfield", "Jupiter"]
print(Bike(4))

TypeError: 'list' object is not callable

In [23]:
for bikes in Bike:
    print(f"Top sale bikes of 2019 in India {bikes}")

Top sale bikes of 2019 in India 1.Pulsar
Top sale bikes of 2019 in India 2.Apache
Top sale bikes of 2019 in India 3.Duke
Top sale bikes of 2019 in India 4.Royal enfield
Top sale bikes of 2019 in India 5.Jupiter

In [24]:
for bikes in Bike:
    print(bikes)
print("Top sale bikes of 2019 in India")

1.Pulsar
2.Apache
3.Duke
4.Royal enfield
5.Jupiter
Top sale bikes of 2019 in India

In [16]:
for bikes in Bike:
print("Top sale bikes of 2019 in India"):
        print(bikes)

IndentationError: expected an indented block (<ipython-input-16-f5a4f03b6327>, line 2)

In [44]:
print("Top sale bikes of 2019 in India:\n")
for bikes in Bike:
    print(bikes)

Top sale bikes of 2019 in India:

1.Pulsar
2.Apache
3.Duke
4.Royal enfield
5.Jupiter

In [30]:
for bikes in Bike:
    print(bikes)

1.Pulsar
2.Apache
3.Duke
4.Royal enfield
5.Jupiter

In [38]:
for bikes in Bike:
    print(f"{bikes}\n")

1.Pulsar

2.Apache

3.Duke

4.Royal enfield

5.Jupiter

In [ ]:
#Doubt: How to give space for my Bike list while printing using the statment of ".\n"

In [ ]:
Doubt cleared myself.